/* DOCUMENT VARIABLES */

:root {
    --main-background: #F0EDEE;
    --main-black: #0A090C;
    --rich-blue: #07393C;
    --medium-blue: #2C666E;
    --light-blue: #90DDF0;
}

body {
    background-color: var(--main-background);
    background-image: url(../image/background_2.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: 100vw 120vh; */
}

/*h1,
h2,
h3,
h4,
h5,
h6,*/
h1, h2, h3, h4, h5 h6 {
    margin: 0;
}
p {
    color: var(--main-black);
}

/* MAIN PAGE */

.main-page-navbar {
    align-items: center;
    padding: 2vw;
}

.main-text {
    font-size: 8vh;
    font-weight: 700;
}

.paragraph {
    font-size: 1.5vw;
}

.main-page-header {
    align-items: center;
    text-align: center;
    min-height: 50vh;
}

.main-page-content {
    width: 200px;
}

.title {
    font-size: 2vw;
}

.logo {
    height: 35px;
    width: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.webname {
    color: var(--main-black);
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6vh;
    width: 100%;
    background-color: var(--rich-blue);
    color: white;
    text-align: center;
}

.footer p {
    color: white;
}

.button {
  background-color: #4CAF50; /* green */
  border: none;
  color: white; 
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 15px;
}

.button1 {
  background-color: #F0EDEE; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: #F0EDEE; 
  color: black; 
  border: 2px solid #008CBA; /* blue */
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: #e7e7e7; /* gray */
  border-style: solid;
  border-width: thin;
  border-color: black;
  color: white; 
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  border-radius: 20px;}
