/* DOCUMENT VARIABLES */

:root {
    --main-background: #F0EDEE;
    --main-black: #0A090C;
    --rich-blue: #07393C;
    --medium-blue: #2C666E;
    --light-blue: #90DDF0;
}

body {
    background-color: var(--main-background);
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90vw 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--main-black);
}


/* MAIN PAGE */

.main-page-navbar {
    align-items: center;
    padding: 2vw;
}

.main-text {
    font-size: 8vh;
    font-weight: 700;
}

.paragraph {
    font-size: 1.5vw;
}

.main-page-header {
    align-items: center;
    text-align: center;
    min-height: 50vh;
}

.main-page-content {
    width: 200px;
}

.title {
    font-size: 2vw;
}